<% include ./partials/messages %>
<h1 class="mt-3">Dashboard Placeholder</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<div class="row">
    <div class="col-sm-3">
        <% include ./partials/dashboard-modules %>
    </div>
    <div class="col-sm-9">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item"
                src="https://datastudio.google.com/embed/reporting/1MCq3SyqUqTy9U1YxeXILnhEEATDewqE6/page/Xniq"
                frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>