<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <% include ./partials/messages %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="nameForm">Name</label>
                    <input type="name" id="nameForm" name="nameForm" class="form-control" placeholder="Enter Name"
                        value="<%= typeof nameForm != 'undefined' ? nameForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="emailForm">Email</label>
                    <input type="email" id="emailForm" name="emailForm" class="form-control" placeholder="Enter Email"
                        value="<%= typeof emailForm != 'undefined' ? emailForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="accountTypeForm">Account Type</label>
                    <select id="accountTypeForm" name="accountTypeForm" class="form-control">
                        <option></option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'Customer') { %>
                            selected="selected" <% } %>>Customer</option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'Employee') { %>
                            selected="selected" <% } %>>Employee</option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'SystemAdmin') { %>
                            selected="selected" <% } %>>SystemAdmin</option>
                    </select>
                </div>
                
                <!-- Dynamic Form Groups -->
                <!-- Employee Fields-->
                <div class="form-group" id="positionFormGroup">
                    <label for="positionForm">Position</label>
                    <select id="positionForm" name="positionForm" class="form-control">
                        <option></option>
                        <option <% if (typeof positionForm != 'undefined' && positionForm == 'Associate I') { %>
                            selected="selected" <% } %>>Associate I</option>
                        <option <% if (typeof positionForm != 'undefined' && positionForm == 'Associate II') { %>
                            selected="selected" <% } %>>Associate II</option>
                        <option <% if (typeof positionForm != 'undefined' && positionForm == 'Associate III') { %>
                            selected="selected" <% } %>>Associate III</option>
                        <option <% if (typeof positionForm != 'undefined' && positionForm == '...') { %>
                            selected="selected" <% } %>>...</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>