<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <% include ./partials/messages %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="nameForm">Name</label>
                    <input type="name" id="nameForm" name="nameForm" class="form-control" placeholder="Enter Name"
                        value="<%= typeof nameForm != 'undefined' ? nameForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="emailForm">Email</label>
                    <input type="email" id="emailForm" name="emailForm" class="form-control" placeholder="Enter Email"
                        value="<%= typeof emailForm != 'undefined' ? emailForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="accountTypeForm">Account Type</label>
                    <select id="accountTypeForm" name="accountTypeForm" class="form-control">
                        <option></option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'Customer') { %> selected="selected" <% } %>>Customer</option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'Employee') { %> selected="selected" <% } %>>Employee</option>
                        <option <% if (typeof accountTypeForm != 'undefined' && accountTypeForm == 'SystemAdmin') { %> selected="selected" <% } %>>SystemAdmin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="passwordForm">Password</label>
                    <input type="password" id="passwordForm" name="passwordForm" class="form-control"
                        placeholder="Create Password" value="<%= typeof passwordForm != 'undefined' ? passwordForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="password2Form">Confirm Password</label>
                    <input type="password" id="password2Form" name="password2Form" class="form-control"
                        placeholder="Confirm Password"
                        value="<%= typeof password2Form != 'undefined' ? password2Form : '' %>" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>