<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Please Create a New Password</h1>
            <% include ./partials/messages %>
            <form action="/users/reset-password" method="POST">
                <div class="form-group row">
                    <label for="emailForm" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" readonly class="form-control-plaintext" id="emailForm" name="emailForm"
                            value="<%= email %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordForm">New Password</label>
                    <input type="password" id="passwordForm" name="passwordForm" class="form-control"
                        placeholder="Enter Password"
                        value="<%= typeof passwordForm != 'undefined' ? passwordForm : '' %>" />
                </div>
                <div class="form-group">
                    <label for="password2Form">Re-enter Password</label>
                    <input type="password" id="password2Form" name="password2Form" class="form-control"
                        placeholder="Enter Password"
                        value="<%= typeof password2Form != 'undefined' ? password2Form : '' %>" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>