<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Valet Summary Report</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function (clientAccount) { %>
        <tr>
            <td scope="row">
                <!-- Edit account button -->
                <a href="#" data-toggle="tooltip" title="Edit account">
                    <button class="btn btn-sm" data-toggle="modal" data-target="#"><i
                            class="fas fa-edit"></i></button></a>
                <!-- Delete account button -->
                <a href="#" data-toggle="tooltip" title="Delete account">
                    <button class="btn btn-sm" data-toggle="modal" data-target="#"><i
                            class="fas fa-trash"></i></button></a>
            </td>
            <td><%= clientAccount.name %></td>
            <td><%= clientAccount.address %></td>
            <td><% if (clientAccount.valetSummaryURL != '') { %>
                <i class="fas fa-check" style="color: green"></i>
                <% } else { %>
                <i class="fas fa-times" style="color: red"></i>
                <% } %></td>
            <td><%= clientAccount.date.toLocaleDateString() + ' ' + clientAccount.date.toLocaleTimeString() %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% include ./edit-user-modal %>
<% include ./reset-password-modal %>
<% include ./delete-user-modal %>